{% extends "pedia_app/layout.html" %}
{% load static %}

{% block body%}
<h1 class="title is-centered has-text-centered">Edit a tournament entry</h1>
<form method='post' enctype="multipart/form-data">
	{% csrf_token %}
	<div class="field">
		<label class="label">Tournament</label>
		<div class="control">
			<input name='name' class="input" placeholder="Tournament Name" aria-label="Tournament Name">
		</div>
	</div>
	<div class="field">
		<label class="label">Tournament Tier</label>
		<div class="control">
			<div class="select">
				<select name="tier">
				<option disabled selected>Choose a Tier</option>
					<option value="S">S</option>
					<option value="A">A</option>
					<option value="B">B</option>
					<option value="C">C</option>
				</select>
			</div>
		</div>
	</div>
	<div class="field">
		<label class="label">Region</label>
		<div class="control">
			<div class="select">
				<select name="region">
				<option disabled selected>Choose a Region</option>
					<option value="America">America</option>
					<option value="Europe">Europe</option>
					<option value="Ocenia">Ocenia</option>
					<option value="Asia">Asia</option>
					<option value="Africa">Africa</option>
					<option value="International">International</option>
				</select>
			</div>
		</div>
	</div>
	<div class="field">
		<label class="label">Starting Date</label>
			<div
				class='control has-icons-right'
				id='datetimepicker1'
				data-td-target-input='nearest'
				data-td-target-toggle='nearest'
			>
			<input
				id='datetimepicker1Input'
				name='date_start'
				type='text'
				class='input'
				data-td-target='#datetimepicker1'
				data-td-toggle='datetimepicker'
			/>
			<span
				class='icon is-small is-right'
				data-td-target='#datetimepicker1'
				data-td-toggle='datetimepicker'
			>
				<i class='fas fa-calendar'></i>
			</span>
			</div>

			<script type="text/javascript">
				new tempusDominus.TempusDominus(document.getElementById('datetimepicker1'));
			</script>
	</div>
	<div class="field">
		<label class="label">End Date</label>
			<div
				class='control has-icons-right'
				id='datetimepicker2'
				data-td-target-input='nearest'
				data-td-target-toggle='nearest'
			>
			<input
				id='datetimepicker1Input'
				name='date_end'
				type='text'
				class='input'
				data-td-target='#datetimepicker2'
				data-td-toggle='datetimepicker'
			/>
			<span
				class='icon is-small is-right'
				data-td-target='#datetimepicker2'
				data-td-toggle='datetimepicker'
			>
				<i class='fas fa-calendar'></i>
			</span>
			</div>

			<script type="text/javascript">
				new tempusDominus.TempusDominus(document.getElementById('datetimepicker2'));
			</script>
	</div>
	<div class="field">
		<div class="label">Tournament Logo</div>
		<div class="control">
			<div id="file-js-logo" class="file has-name is-fullwidth">
				<label class="file-label">
					<input class="file-input" type="file" name="logo">
					<span class="file-cta">
					<span class="file-icon">
						<i class="fas fa-upload"></i>
					</span>
					<span class="file-label">
						Upload a logo…
					</span>
					</span>
					<span class="file-name">
						e.g. logo.png
					</span>
				</label>
			</div>
			<script>
			const fileInput = document.querySelector('#file-js-logo input[type=file]');
			fileInput.onchange = () => {
				if (fileInput.files.length > 0) {
				const fileName = document.querySelector('#file-js-logo .file-name');
				fileName.textContent = fileInput.files[0].name;
				}
			}
			</script>
		</div>
	</div>
	<div class="field">
		<div class="control">
			<label class="checkbox">
				<input id="chkWin" type="checkbox" name="status">
			Tournament Finished
			</label>
		</div>
	</div>
	<div class="field" id="selWin" style="display: none">
		<label class="label">Tournament Winner</label>
		<div class="control">
			<div class="select">
				<select name="winner">
				<option disabled selected>
					Tournament Winner
				</option>
				{% for t in teams %}
				<option value="{{ t.id }}">{{ t.name }}</option>
				{% endfor %}
				</select>
			</div>
		</div>
	</div>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script type="text/javascript">
			$(function () {
				$("#chkWin").click(function () {
					if ($(this).is(":checked")) {
						$("#selWin").show();
					} else {
						$("#selWin").hide();
					}
				});
			});
		</script>
	<br>
	<div class="field">
		<div class="control">
			<input class="button is-primary" type="submit" value="Submit"></input>
		</div>
	</div>
</form>

	<br>
	<br>
	<br>
	
<div class="container">
<div class="bd-example">
	<section class="section is-centerd">
	<h3 class="title is-3 is-centered has-text-centered">Edit an existing Tournament</h3>
	<table class="table is-centered has-text-centered is-fullwidth">
	<thead>
		<tr>
			<th>ID</th>
			<th>Tier</th>
			<th>Tournament</th>
			<th>Region</th>
			<th>Starting Date</th>
			<th>End Date</th>
			<th>Time Left</th>
			<th>Winner</th>
			<th>Edit</th>
			</tr>
	</thead>
	<tbody>
		{% for tourney in tournies %}
		<tr>
			<td>{{ tourney.id }} </td>
			<td>{{ tourney.tier }} </td>
			<td>
				<span class="icon-text">
					<span class="icon">
						{% if tourney.logo %}
							<img src="{{ tourney.logo.url }}">
						{% else %}
							<img src="{% static 'images/logo_placeholder.png' %}">
						{% endif %}
					</span>
					<span>
						{{ tourney.name }} 
					</span>
					</span>
			</td>
			<td>{{ tourney.region }} </td>
			<td>{{ tourney.date_start }} </td>
			<td>{{ tourney.date_end }} </td>
			<td>{{ tourney.date_start | timeuntil }} </td>
			<td>
				<span class="icon-text">
					<span class="icon">
						
						{% if tourney.winner %}
								
							{% if tourney.winner.logo %}
								<img src="{{ tourney.winner.logo.url }}" alt="">
							{% else %}
								<img src="{% static 'images/logo_placeholder.png' %}">
							{% endif %}
							
						{% endif %}
					</span>
					<span>
						{{ tourney.winner.name }} 
					</span>
				</span>
			</td>
			<td>
				<a href="{% url 'edit_tourney' tourney.id %}" class="button is-primary is-small is-outlined">Edit</a>
				<button class="js-modal-trigger button is-danger is-small is-outlined" data-target="deleteEntry{{ tourney.id }}">Delete</button>
					<!-- Modal -->
					<div class="modal" id="deleteEntry{{ tourney.id }}">
						<div class="modal-background"></div>
						<div class="modal-card">
						<header class="modal-card-head">
							<p class="modal-card-title">Delete this entry?</p>
							<button class="delete" aria-label="close"></button>
						</header>
						<section class="modal-card-body">
							Are you sure you want to permanently delete the	tournament {{ tourney.name }}
						</section>
						<footer class="modal-card-foot">
							<button type="button" class="modal-close button is-outlined is-dark" aria-label="close">Keep</button>
							<a class="button is-danger" href="{% url 'delete_tourney' tourney.id %}">Delete</a>
						</footer>
						</div>
					</div>
					<script type="text/javascript">
						document.addEventListener('DOMContentLoaded', () => {
						// Functions to open and close a modal
						function openModal($el) {
							$el.classList.add('is-active');
						}

						function closeModal($el) {
							$el.classList.remove('is-active');
						}

						function closeAllModals() {
							(document.querySelectorAll('.modal') || []).forEach(($modal) => {
							closeModal($modal);
							});
						}

						// Add a click event on buttons to open a specific modal
						(document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
							const modal = $trigger.dataset.target;
							const $target = document.getElementById(modal);
							console.log($target);

							$trigger.addEventListener('click', () => {
							openModal($target);
							});
						});

						// Add a click event on various child elements to close the parent modal
						(document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
							const $target = $close.closest('.modal');

							$close.addEventListener('click', () => {
							closeModal($target);
							});
						});

						// Add a keyboard event to close all modals
						document.addEventListener('keydown', (event) => {
							const e = event || window.event;

							if (e.keyCode === 27) { // Escape key
							closeAllModals();
							}
						});
						});
					</script>
			</td>
		</tr>
		{% endfor %}
	</tbody>
	</table>
	</section>
</div>
</div>

{% endblock %}