{% extends "pedia_app/layout.html" %}
{% load static %}

{% block body%}

<h1 class="title is-centered has-text-centered">Edit a match entry</h1>
<br>
<form method='post' enctype="multipart/form-data">
	{% csrf_token %}
	<div class="field">
		<label class="label">Tournament</label>
		<div class="control">
			<div class="select">
				<select name="tourney">
				<option selected value="{{ match.tourney.id }}">{{ match.tourney.name }}</option>
				{% for t in tourney %}
				<option value="{{ t.id }}">{{ t.name }}</option>
				{% endfor %}
				</select>
			</div>
		</div>
	</div>
	<div class="field">
		<label class="label">Teams and Score</label>
		<div class="control">
			<div class="columns">
				<div class="column is-narrow">
					<div class="select">
						<select name="team1">
						<option selected value="{{ match.team1.id }}">{{ match.team1.name }}</option>
						{% for t in teams %}
						<option value="{{ t.id }}">{{ t.name }}</option>
						{% endfor %}
						</select>
					</div>
				</div>
				<div class="column is-1">
					<input class="input" name='score1' type="number" step="1" max="10" value="{{ match.score1 }}">   
				</div>
				<div class="column is-narrow">
					<h3 class="title is-3"> - </h3>
				</div>
				<div class="column is-1">
					<input class="input" name='score2' type="number" step="1" max="10" value="{{ match.score2 }}">   
				</div>
				<div class="column is-narrow">
					<div class="select">
						<select name="team2">
						<option selected value="{{ match.team2.id }}">{{ match.team2.name }}</option>
						{% for t in teams %}
						<option value="{{ t.id }}">{{ t.name }}</option>
						{% endfor %}
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="field">
		<label class="label">Match Time</label>
			<div
				class='control has-icons-right'
				id='datetimepicker1'
				data-td-target-input='nearest'
				data-td-target-toggle='nearest'
			>
			<input
				id='datetimepicker1Input'
				name='time'
				type='text'
				class='input'
				value="{{ frtime }}"
				data-td-target='#datetimepicker1'
				data-td-toggle='datetimepicker'
			/>
			<span
				class='icon is-small is-right'
				data-td-target='#datetimepicker1'
				data-td-toggle='datetimepicker'
			>
				<i class='fas fa-calendar'></i>
			</span>
			</div>

			<script type="text/javascript">
				new tempusDominus.TempusDominus(document.getElementById('datetimepicker1'));
			</script>
	</div>
	<div class="field">
		<div class="control">
			<label class="checkbox">
				<input type="checkbox" name="status" {% if match.is_finished %}checked{% endif %}>
			Match Concluded
			</label>
		</div>
	</div>
	<br>
	<div class="field">
		<div class="control">
			<input class="button is-primary" type="submit" value="Submit"></input>
		</div>
	</div>
</form>

{% endblock %}