{% extends "pedia_app/layout.html" %}
{% load static %}

{% block body%}

<section>
<h1 class="text-center">Add a new tournament</h1>
<div class="container">
	<form class="" method='post' enctype="multipart/form-data">
	{% csrf_token %}
	<div class="row">
		<div class="col">
		<label for="exampleFormControlInput1" class="form-label">Tournament Name</label>
		<input name='name' class="form-control" placeholder="Tournament Name" aria-label="Tournament Name">
		<br>
		<label for="exampleFormControlInput1" class="form-label">Tournament Tier</label>
		<select class="form-select" aria-label="Regions" name="tier">
		<option disabled selected>Choose a Tier</option>
		<option value="S">S</option>
		<option value="A">A</option>
		<option value="B">B</option>
		<option value="C">C</option>
		</select>
		<br>
		<label for="exampleFormControlTextarea1" class="form-label">Region</label>
		<br>
		<select class="form-select" aria-label="Regions" name="region">
		<option disabled selected>Choose a region</option>
		<option value="America">America</option>
		<option value="Europe">Europe</option>
		<option value="Ocenia">Ocenia</option>
		<option value="Asia">Asia</option>
		<option value="Africa">Africa</option>
		<option value="International">International</option>
		</select>
		<br>
		<label for="exampleFormControlTextarea1" class="form-label">Starting Date</label>
		<br>
			<div
				class='input-group'
				id='datetimepicker1'
				data-td-target-input='nearest'
				data-td-target-toggle='nearest'
			>
			<input
				id='datetimepicker1Input'
				name='date_start'
				type='text'
				class='form-control'
				data-td-target='#datetimepicker1'
			/>
			<span
				class='input-group-text'
				data-td-target='#datetimepicker1'
				data-td-toggle='datetimepicker'
			>
				<span class='fas fa-calendar'></span>
			</span>
			</div>

			<script type="text/javascript">
				new tempusDominus.TempusDominus(document.getElementById('datetimepicker1'));
			</script>
           
		<br>
		<label for="exampleFormControlTextarea1" class="form-label">End Date</label>
		<br>
			<div
				class='input-group'
				id='datetimepicker2'
				data-td-target-input='nearest'
				data-td-target-toggle='nearest'
			>
			<input
				id='datetimepicker2Input'
				name='date_end'
				type='text'
				class='form-control'
				data-td-target='#datetimepicker2'
			/>
			<span
				class='input-group-text'
				data-td-target='#datetimepicker2'
				data-td-toggle='datetimepicker'
			>
				<span class='fas fa-calendar'></span>
			</span>
			</div>

			<script type="text/javascript">
				new tempusDominus.TempusDominus(document.getElementById('datetimepicker2'));
			</script>
           
		<br>
		<div class="mb-3">
		<label for="formFile" class="form-label">Upload a logo</label>
		<input class="form-control" name="logo" type="file" id="formFile">
		</div>
		<br>
		<div class="mt-2">
			<input class="btn btn-primary" type="submit" value="Submit">
		</div>
		</div>
	</div>
	</form>


</section>

	<br>
	<br>
	<br>
	
	<div class="bd-example">
	<h1 class="text-center">Edit an existing Tournament</h1>
		<table class="table table-hover">
		<thead>
			<tr>
			<th scope="col">ID</th>
			<th scope="col">Tier</th>
			<th scope="col">Tournament</th>
			<th scope="col">Region</th>
			<th scope="col">Starting Date</th>
			<th scope="col">End Date</th>
			<th scope="col">Time Left</th>
			<th scope="col">Edit</th>
			</tr>
		</thead>
		<tbody>
			{% for tourney in tournies %}
			<tr>
				<td>{{ tourney.id }} </td>
				<td>{{ tourney.tier }} </td>
				<td>
					{% if tourney.logo %}
						<img src="{{ tourney.logo.url }}" alt="" class="Tournament-logo" width="28" height="28px">
					{% else %}
						<img src="{% static 'images/logo_placeholder.png' %}" alt="" class="logo-placeholder">
					{% endif %}
					{{ tourney.name }} 
				</td>
				<td>{{ tourney.region }} </td>
				<td>{{ tourney.date_start }} </td>
				<td>{{ tourney.date_end }} </td>
				<td>{{ tourney.date_start | timeuntil }} </td>
				<td>
					<a href="#" class="btn btn-outline-success">Edit</a>
					{% comment %} <a href="#" class="btn btn-danger badge">Delete</a> {% endcomment %}
					<button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteEntry{{ Tournament.id }}">Delete</button>
						<!-- Modal -->
						<div class="modal fade" id="deleteEntry{{ Tournament.id }}" tabindex="-1" aria-labelledby="deleteTournamentEntry" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="deleteTournamentEntry">Delete this entry?</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								Are you sure you want to permanently delete this entry? <br>
								Tournament Name: {{ Tournament.name }}
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Keep</button>
								<a class="btn btn-danger" href="{% url 'index' %}">Delete</a>
							</div>
							</div>
						</div>
						</div>
				</td>
			</tr>
			{% endfor %}
		</tbody>
		</table>
	</div>
</div>

{% endblock %}