{% extends "pedia_app/layout.html" %}
{% load static %}

{% block title %}
		<title>Qpedia - Edit Player</title>
{% endblock title %}

{% block column %}
	
	<br>
	<br>
	<br>

<div class="columns">
	<div class="column is-1"></div>
		<div class="column">

{% block body%}
<h1 class="title is-centered has-text-centered">Edit an existing player entry</h1>
<form method='post' enctype="multipart/form-data">
	{% csrf_token %}
	<div class="field">
		<label class="label">Player Name</label>
		<div class="control">
			<input name='name' class="input" placeholder="Player Name" aria-label="Player Name" value="{{ player.name }}">
		</div>
	</div>
	<div class="field">
		<label class="label">Player IGN</label>
		<div class="control">
			<input name='ign' class="input" placeholder="Player IGN" aria-label="Player IGN" value="{{ player.ign }}">
		</div>
	</div>
	<div class="field">
		<label class="label">Player Country</label>
		<div class="control">
			<input name='country' class="input" placeholder="Country" aria-label="Player Country" value="{{ player.country }}">
		</div>
	</div>
	<div class="field">
		<label class="label">Player Age</label>
		<div class="control">
			<input name='age' class="input" type="number" value="18" step="1" max="200" aria-label="Player Age" value="{{ player.age }}">
		</div>
	</div>
	<div class="field">
		<label class="label">Player Rank</label>
		<div class="control">
			<input name='rank' class="input" type="number" value="1" step="1" max="2000" aria-label="Player Rank" value="{{ player.rank }}">
		</div>
	</div>
	<div class="field">
		<label class="label">Player Team</label>
		<div class="control">
			<div class="select">
				<select name="team">
				<option disabled selected value="{{ player.team.id }}">
					{{ player.team.name }}
				</option>
				{% for t in teams %}
				<option value="{{ t.id }}">{{ t.name }}</option>
				{% endfor %}
				</select>
			</div>
		</div>
	</div>
	<div class="field">
		<div class="label">Player Photo</div>
		<div class="control">
			<div id="file-js-photo" class="file has-name is-fullwidth">
				<label class="file-label">
					<input class="file-input" type="file" name="photo">
					<span class="file-cta">
					<span class="file-icon">
						<i class="fas fa-upload"></i>
					</span>
					<span class="file-label">
						Upload a photo…
					</span>
					</span>
					<span class="file-name">
						e.g. photo.png
					</span>
				</label>
			</div>
			<script>
			const fileInput = document.querySelector('#file-js-photo input[type=file]');
			fileInput.onchange = () => {
				if (fileInput.files.length > 0) {
				const fileName = document.querySelector('#file-js-photo .file-name');
				fileName.textContent = fileInput.files[0].name;
				}
			}
			</script>
		</div>
	</div>
	<br>
	<div class="field">
		<div class="control">
			<input class="button is-primary" type="submit" value="Submit"></input>
		</div>
	</div>
</form>

{% endblock body %}

		</div>
		<div class="column is-1"></div>
</div>

{% endblock column %}
