{% extends "pedia_app/layout.html" %}
{% load static %}

{% block body%}

<h1 class="text-center">Edit a team entry</h1>
<div class="container">
	<form class="" method='post' enctype="multipart/form-data">
	{% csrf_token %}
	<div class="row">
		<div class="col">
		<label for="exampleFormControlInput1" class="form-label">Team Name</label>
		<input name='name' class="form-control" value="{{ team.name }}" aria-label="Team Name">
		<br>
		<label for="exampleFormControlInput1" class="form-label">Team Rank</label>
		<input name='rank' class="form-control" id="exampleFormControlInput1" type="number" step="1" max="1000" value="{{ team.rank }}">
		<br>
		<label for="exampleFormControlTextarea1" class="form-label">Region</label>
		<br>
		<select class="form-select" aria-label="Regions" name="region">
		<option selected value="{{ team.region }}">{{ team.region }}</option>
		<option value="America">America</option>
		<option value="Europe">Europe</option>
		<option value="Ocenia">Ocenia</option>
		<option value="Asia">Asia</option>
		<option value="Africa">Africa</option>
		<option value="International">International</option>
		</select>
		<br>
		<div class="mb-3">
		<label for="formFile" class="form-label">Upload a logo</label>
		<input class="form-control" name="logo" type="file" id="formFile">
		</div>
		<br>
		<div class="mt-2">
			<input class="btn btn-primary" type="submit" value="Submit">
		</div>
		</div>
	</div>
	</form>

	<br>
	<br>
	<br>
	
</div>

{% endblock %}