{% extends "pedia_app/layout.html" %}
{% load static %}

{% block body%}
<h1 class="title is-centered has-text-centered">Edit an existing team entry</h1>
<form method='post' enctype="multipart/form-data">
	{% csrf_token %}
	<div class="field">
		<label class="label">Team Name</label>
		<div class="control">
			<input name='name' class="input" placeholder="Team Name" aria-label="Team Name" value="{{ team.name }}">
		</div>
	</div>
	<div class="field">
		<label class="label">Team Rank</label>
		<div class="control">
			<input name='rank' class="input" type="number" value="1" step="1" max="2000" aria-label="Team Rank" value="{{ team.rank }}">
		</div>
	</div>
	<div class="field">
		<label class="label">Team Region</label>
		<div class="control">
			<div class="select">
				<select name="region">
				<option disabled selected value="{{ team.region }}">{{ team.region }}</option>
				<option value="America">America</option>
				<option value="Europe">Europe</option>
				<option value="Ocenia">Ocenia</option>
				<option value="Asia">Asia</option>
				<option value="Africa">Africa</option>
				<option value="International">International</option>
				</select>
			</div>
		</div>
	</div>
	<div class="field">
		<div class="label">Team Logo</div>
		<div class="control">
			<div id="file-js-logo" class="file has-name is-fullwidth">
				<label class="file-label">
					<input class="file-input" type="file" name="logo">
					<span class="file-cta">
					<span class="file-icon">
						<i class="fas fa-upload"></i>
					</span>
					<span class="file-label">
						Upload a logo...
					</span>
					</span>
					<span class="file-name">
						e.g. logo.png
					</span>
				</label>
			</div>
			<script>
			const fileInput = document.querySelector('#file-js-logo input[type=file]');
			fileInput.onchange = () => {
				if (fileInput.files.length > 0) {
				const fileName = document.querySelector('#file-js-logo .file-name');
				fileName.textContent = fileInput.files[0].name;
				}
			}
			</script>
		</div>
	</div>
	<br>
	<div class="field">
		<div class="control">
			<input class="button is-primary" type="submit" value="Submit"></input>
		</div>
	</div>
</form>
{% endblock %}