{% extends "pedia_app/layout.html" %}
{% load static %}

{% block body%}
<section>
<h1 class="text-center">Edit tournament</h1>
<div class="container">
	<form class="" method='post' enctype="multipart/form-data">
	{% csrf_token %}
	<div class="row">
		<div class="col">
		<label for="exampleFormControlInput1" class="form-label">Tournament Name</label>
		<input name='name' class="form-control" placeholder="Tournament Name" aria-label="Tournament Name" value="{{ tourney.name }}">
		<br>
		<label for="exampleFormControlInput1" class="form-label">Tournament Tier</label>
		<select class="form-select" aria-label="Tier" name="tier">
		<option disabled selected>{{ tourney.tier }}</option>
		<option value="S">S</option>
		<option value="A">A</option>
		<option value="B">B</option>
		<option value="C">C</option>
		</select>
		<br>
		<label for="exampleFormControlTextarea1" class="form-label">Region</label>
		<br>
		<select class="form-select" aria-label="Regions" name="region">
		<option disabled selected>{{ tourney.region }}</option>
		<option value="America">America</option>
		<option value="Europe">Europe</option>
		<option value="Ocenia">Ocenia</option>
		<option value="Asia">Asia</option>
		<option value="Africa">Africa</option>
		<option value="International">International</option>
		</select>
		<br>
		<label for="exampleFormControlTextarea1" class="form-label">Starting Date</label>
		<br>
			<div
				class='input-group'
				id='datetimepicker1'
				data-td-target-input='nearest'
				data-td-target-toggle='nearest'
			>
			<input
				id='datetimepicker1Input'
				name='date_start'
				type='text'
				class='form-control'
				data-td-target='#datetimepicker1'
				value="{{ frdate_start }}"
			/>
			<span
				class='input-group-text'
				data-td-target='#datetimepicker1'
				data-td-toggle='datetimepicker'
			>
				<span class='fas fa-calendar'></span>
			</span>
			</div>

			<script type="text/javascript">
				new tempusDominus.TempusDominus(document.getElementById('datetimepicker1'));
			</script>
           
		<br>
		<label for="exampleFormControlTextarea1" class="form-label">End Date</label>
		<br>
			<div
				class='input-group'
				id='datetimepicker2'
				data-td-target-input='nearest'
				data-td-target-toggle='nearest'
			>
			<input
				id='datetimepicker2Input'
				name='date_end'
				type='text'
				class='form-control'
				data-td-target='#datetimepicker2'
				value="{{ frdate_end }}"
			/>
			<span
				class='input-group-text'
				data-td-target='#datetimepicker2'
				data-td-toggle='datetimepicker'
			>
				<span class='fas fa-calendar'></span>
			</span>
			</div>

			<script type="text/javascript">
				new tempusDominus.TempusDominus(document.getElementById('datetimepicker2'));
			</script>
           
		<br>
		<div class="mb-3">
		<label for="formFile" class="form-label">Upload a logo</label>
		<input class="form-control" name="logo" type="file" id="formFile">
		</div>
		<br>
		<div class="mt-2">
			<input class="btn btn-primary" type="submit" value="Submit">
		</div>
		</div>
	</div>
	</form>


</section>

</div>

{% endblock %}
