{% extends "pedia_app/layout.html" %}
{% load static %}

{% block title %}
		<title>Qpedia - Matches</title>
{% endblock title %}

{% block body%}


{% for match in matches %}
<div class="card">
	<header class="card-header has-background-link-dark">
		<div class="card-header-title level">
			<div class="level-left">
				<div class="level-item">
					<span class="icon-text has-text-white">
						<span class="icon">
							{% if match.tourney.logo %}
								<img src="{{ match.tourney.logo.url }}">
							{% else %}
								<img src="{% static 'images/logo_placeholder.png' %}">
							{% endif %}
						</span>
						<span>
							<p class="has-text-white">{{ match.tourney.name }}</p> 
						</span>
					</span>
				</div>
			</div>
			<div class="level-right">
				<div class="level-item" style="color: white;">
					{{ match.time | timeuntil }}
				</div>
			</div>
		</div>
	</header>
	<div class="card-content has-background-light">
		<div class="content">
			<div class="columns is-centerd">
				<div class="column is-2"></div>
				<div class="column has-text-centered">
					<span class="icon-text">
						<span class="icon">
							{% if match.team1.logo %}
								<img src="{{ match.team1.logo.url }}" alt="">
							{% else %}
								<img src="{% static 'images/logo_placeholder.png' %}">
							{% endif %}
						</span>
						<span>
						<strong>
								&nbsp;
							{{ match.team1.name }} 
						</strong>
							{% if match.winner == 'T1' %}
								&nbsp;
								&nbsp;
								&nbsp;
								<span class="icon">
									<i class="fas fa-crown" style="color: darkorange;"></i>
								</span>
							{% endif %}
						</span>
					</span>
				</div>
				<div class="column is-narrow has-text-centered is-success">
					<strong>
						{{ match.score1 }}
					</strong>
				</div>
				<div class="column is-narrow has-text-centered">
					<strong>
						vs
					</strong>
				</div>
				<div class="column is-narrow has-text-centered">
					<strong>
						{{ match.score2 }}
					</strong>
				</div>
				<div class="column has-text-centered" >
					<span class="icon-text">
						<span>
							{% if match.winner == 'T2' %}
								<span class="icon">
									<i class="fas fa-crown" style="color: darkorange;"></i>
								</span>
								&nbsp;
								&nbsp;
								&nbsp;
							{% endif %}
							<strong>
							{{ match.team2.name }} 
								&nbsp;
							</strong>
						</span>
						<span class="icon">
							{% if match.team2.logo %}
								<img src="{{ match.team2.logo.url }}" alt="">
							{% else %}
								<img src="{% static 'images/logo_placeholder.png' %}">
							{% endif %}
						</span>
					</span>
				</div>
				<div class="column is-2"></div>
			</div>
		</div>
	</div>
	<footer class="card-footer">
		<div class="card-footer-item has-background-info"><strong style="color: white;">{{ match.time | date:"d M Y" }} - {{ match.time | time:"H:i" }}</strong></div>

			{% if match.winner == 'ON' %}

				<div class="card-footer-item has-text-white has-background-danger"><strong style="color: white;">		
						Ongoing
					</strong>
				</div>

			{% elif match.winner == 'DW' %}

				<div class="card-footer-item has-text-white has-background-warning"><strong style="color: black;">		
						Draw
					</strong>
				</div>

			{% else %}

				<div class="card-footer-item has-text-white has-background-success"><strong style="color: white;">		
						Finished
					</strong>
				</div>
				
			{% endif %}
	</footer>
</div>
<br>
{% endfor %}

{% endblock %}