{% load static %}
<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{% url 'index' %}">
      <img src="{% static 'images/logo_alpha_1.png' %}" width="110" height="50">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <script type="text/javascript">
document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

});
  </script>

  <div id="navMenu" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{% url 'matches' %}">
		<span class="icon-text">
			<span class="icon">
				<i class="fas fa-dice"></i>
			</span>
			<span>Matches</span>
		</span>
        <!-- <strong>Matches</strong> -->
      </a>

      <a class="navbar-item" href="{% url 'tournies' %}">
		<span class="icon-text">
			<span class="icon">
				<i class="fas fa-trophy"></i>
			</span>
			<span>Tournaments</span>
		</span>
      </a>

      <a class="navbar-item" href="{% url 'players' %}">
		<span class="icon-text">
			<span class="icon">
				<i class="fas fa-user"></i>
			</span>
			<span>Players</span>
		</span>
      </a>

      <a class="navbar-item" href="{% url 'teams' %}">
		<span class="icon-text">
			<span class="icon">
				<i class="fas fa-users"></i>
			</span>
			<span>Teams</span>
		</span>
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
		<span class="icon-text">
			<span class="icon">
				<i class="fas fa-sitemap"></i>
			</span>
			<span>Contribute</span>
		</span>
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="{% url 'edit_matches' %}">
            Edit Matches
          </a>
          <a class="navbar-item" href="{% url 'edit_tournies' %}">
            Edit Tournaments
          </a>
          <a class="navbar-item" href="{% url 'edit_players' %}">
            Edit Players
          </a>
          <a class="navbar-item" href="{% url 'edit_teams' %}">
            Edit Teams
          </a>
          <hr class="navbar-divider" href="{% url 'index' %}">
          <a class="navbar-item">
            Provide Feedback
          </a>
        </div>
      </div>
    </div>

	
	{% if user.is_authenticated %}
		<div class="navbar-end">
		<div class="navbar-item">
			<div class="buttons">
			<a class="button is-ghost"">
			<span class="icon-text">
				<span class="icon">
					<i class="fa-regular fa-circle-user"></i>
				</span>
				<span>{{ user.username }}</span>
			</span>
			</a>
			<a class="button is-danger" href="{% url 'logout' %}">
				Log Out
			</a>
			</div>
		</div>
		</div>
	{% else %}
		<div class="navbar-end">
		<div class="navbar-item">
			<div class="buttons">
			<a class="button is-primary" href="{% url 'register' %}">
				<strong>Sign up</strong>
			</a>
			<a class="button is-light" href="{% url 'login' %}">
				Log in
			</a>
			</div>
		</div>
		</div>
	{% endif %}

  </div>
</nav>