{% extends "pedia_app/layout.html" %}
{% load static %}

{% block title %}
		<title>Qpedia - Sign Up</title>
{% endblock title %}

{% block column%}
{% block body%}

<section class="hero is-link is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <form action="" method="post" class="box">
			{% csrf_token %}
            <div class="field">
              <label for="" class="label">First Name</label>
              <div class="control has-icons-left">
                <input type="username" name="fname" placeholder="e.g. Bob" class="input" required>
                <span class="icon is-small is-left">
                  <i class="fa-regular fa-quote-left"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="" class="label">Last Name</label>
              <div class="control has-icons-left">
                <input type="username" name="lname" placeholder="e.g. Smith" class="input" required>
                <span class="icon is-small is-left">
                  <i class="fa-regular fa-quote-right"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="" class="label">Username</label>
              <div class="control has-icons-left">
                <input type="username" name="uname" placeholder="e.g. bobsmith" class="input" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-user"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="" class="label">Email</label>
              <div class="control has-icons-left">
                <input type="username" name="email" placeholder="e.g. bobsmith@gmail.com" class="input" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="" class="label">Password</label>
              <div class="control has-icons-left">
                <input type="password" name="passwd" placeholder="**********" class="input" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <button class="button is-success" type="submit">
                Sign Up
              </button>
            </div>
          </form>
		  <div class="columns is-centered">
			Already have an account?&nbsp;<a href="{% url 'login' %}"><u>Sign in</u></a>
		  </div>
        </div>
      </div>
    </div>
  </div>
</section>
   
{% endblock %}
{% endblock %}