{% extends "pedia_app/layout.html" %}
{% load static %}

{% block body%}

<div class="container">
	<br>
	<div class="bd-example">
	<h1 class="text-center">Teams Ranking</h1>
		<table class="table table-hover">
		<thead>
			<tr>
			<th scope="col">Rank</th>
			<th scope="col">Team</th>
			<th scope="col">Region</th>
			</tr>
		</thead>
		<tbody>
			{% for team in teams %}
			<tr>
				<td>#{{ team.rank }} </td>
				<td>
					{% if team.logo %}
						<img src="{{ team.logo.url }}" alt="" class="team-logo" width="28px" height="28px">
					{% else %}
						<img src="{% static 'images/logo_placeholder.png' %}" alt="" class="logo-placeholder" width="28px" height="28px">
					{% endif %}
					{{ team.name }} 
				</td>
				<td>{{ team.region }} </td>
			</tr>
			{% endfor %}
		</tbody>
		</table>
	</div>
</div>

{% endblock %}